<div class="row">
  <div class="col-12">
    <h1>Servicios</h1>
    <p>Listado de todos los servicios (deliveries/pickup)</p>

    <%= link_to 'Agregar Servicio', new_service_path, class: 'btn btn-sm btn-dark mb-2', remote: true %>

    <table class="table" id="services-table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#id</th>
        <th scope="col">Tipo de servicio</th>
        <th scope="col">Dirección</th>
        <th scope="col">Peso</th>
        <th scope="col">Tipo de carga</th>
        <th scope="col">Ruta</th>
      </tr>
      </thead>
      <tbody>
      <% @services.each do |service| %>
        <tr>
          <th scope="row"><%= service.id %></th>
          <td><%= service.type_service %></td>
          <td><%= service.address %></td>
          <td><%= service.weight %></td>
          <td><%= service.load.type_load %></td>
          <td><%= service.route.present? ? "<span class='service-route'>Ruta: #{service.route.id}</div>".html_safe : "<span class='service-no-route'>Sin Ruta asignada</span>".html_safe %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= render "partials/modal" %>
  </div>
</div>