<%= form_with(model: route, local: true, id: "routes-form") do |form| %>
  <% if route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% route.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <%= form.label :starts_at, 'Inicio:' %>
        <div class="input-group date" id="starts_at" data-target-input="nearest">
          <%= form.text_field(:starts_at, {:class => 'form-control datetimepicker-input', 'data-target' => "#starts_at"}) %>
          <div class="input-group-append" data-target="#starts_at" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="form-group">
        <%= form.label :ends_at, 'Inicio:' %>
        <div class="input-group date" id="ends_at" data-target-input="nearest">
          <%= form.text_field(:ends_at, {:class => 'form-control datetimepicker-input', 'data-target' => "#ends_at"}) %>
          <div class="input-group-append" data-target="#ends_at" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="form-group">
    <%= form.label :load_id, 'Tipo de carga' %>
    <%= form.collection_select(:load_id, Load.all.order(:type_load), :id, :type_load, {:prompt => 'Seleccione tipo de carga...', }, {:class => 'form-control', :required => true}) %>
  </div>

  <div class="commune-item">
    <% @services_without_route.each do |service| %>
      <div>
        <%= form.check_box(:services_array, {multiple: true}, service.id, false)  %>
        <%= form.label :services_array, "<span style='font-size: 0.8em'>&#10070; #{service.address}</span> <span style='font-size: 0.8em; font-weight: 500;'>/ #{service.commune.name}</span> <span style='font-size: 0.8em; color: #9c27b0'>/ #{service.weight} Kg</span> <span style='font-size: 0.8em; #{service.load_id === 1 ? 'color: #41ab01' : 'color: blue'}'>/ #{service.load.type_load}</span>".html_safe %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :load_sum, 'Peso total (.Kg)' %>
    <%= form.number_field :load_sum, class: 'form-control', step: :any %>
  </div>

  <div class="actions">
    <%= form.submit 'Agendar Ruta', class: 'btn btn-primary'%>
  </div>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#starts_at').datetimepicker({
            format: 'LT'
        });
        $('#ends_at').datetimepicker({
            format: 'LT'
        });
    });

</script>