<div class="row">
  <div class="col-12">
    <h1>Rutas</h1>
    <p>Listado de todas las rutas planificadas.</p>
    <%= link_to 'Planificar nueva Ruta', new_route_path, class: 'btn btn-sm btn-dark mb-2' %>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#id</th>
        <th scope="col">Fecha/hora Inicio</th>
        <th scope="col">Fecha/hora Termino</th>
        <th scope="col">Peso total de Ruta</th>
        <th scope="col">Paradas totales</th>
        <th scope="col">Vehiculo</th>
        <th scope="col">Conductor</th>
      </tr>
      </thead>
      <tbody>
      <% if @routes.present?  %>
        <% @routes.each do |route| %>
          <tr>
            <th scope="row"><%= route.id %></th>
            <td><%= route.starts_at %></td>
            <td><%= route.ends_at %></td>
            <td><%= route.load_sum %></td>
            <td><%= route.stops_amount %></td>
            <td><%= route.vehicle_id ? route.vehicle_id : "Sin vehículo Asignado" %></td>
            <td><%= route.driver_id ? "id &#10097; #{route.driver_id} - #{route.driver.full_name}".html_safe : "Sin Conductor Asignado" %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <th colspan="4">
            No hay Rutas Planificadas.
          </th>
        </tr>
      <%end  %>
      </tbody>
    </table>
    <%= render "partials/modal" %>
  </div>
</div>